div.historico{
  width: 33%;
  height: 100%;
  margin: 0;
  background-color: #6A9F9D;
}

h1{
  margin: 0;
}

div.consulta{
  padding: 7% 0 0 3%;
  margin: 0 0 0 2%;
}

div.consulta textarea{
  width: 90%;
}

div.novaConsulta{
  width: 33%;
  height: 100%;
  margin: 0 0 0 1%;
  background-color: #6A9F9D;
}

div.interfaceNovaConsulta{
  margin: auto;
  text-align: center;
  display: flex;
  width: 80%;
  flex-direction: column;
}

div.interfaceNovaConsulta h1{
  padding: 0 0 3% 0;
}

div.interfaceNovaConsulta select{
  margin: 0 0 3% 0;
}

textarea.novaConsultaText{
  height: 30;
  text-align: center ;
}
