/* CORPO DO SITE */

html, body, div#root{
  width: 100%;
  height: 100%;
}

.App{
  height: 100%;
  width: 100%;
  display: flex;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;background-color: #BDF3D8;
}

div.app{
  height: 100%;
  display: flex;
  flex-direction: column;
}

header{
  width: 100%;
  background-color: #336F51;
  display: flex;
  flex-direction: row;
}

footer{
  background-color: #336F51;
  position: auto;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 45px;
  font-size: 13px;
  padding: 10px;
}

img#logo{
  height: 5rem;
  margin: 1% 0 1% 1%;
}

*{
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}