div.historico{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #6A9F9D;
    border: 1px solid black;
    overflow: hidden scroll;
  }
  
  div.materias{
    width: 100%;
  }
  
  h1{
    margin: 0;
  }
  
  div.consulta{
    padding: 7% 0 0 3%;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
  }
  
  div.novaConsulta{
    width: 33%;
    height: 100%;
    margin: 0 0 0 0.5%;
    background-color: #6A9F9D;
  }
  
  div.interfaceNovaConsulta{
    margin: auto;
    text-align: center;
    display: flex;
    width: 80%;
    flex-direction: column;
  }
  
  div.interfaceNovaConsulta h1{
    padding: 0 0 3% 0;
  }
  
  div.interfaceNovaConsulta select{
    margin: 0 0 3% 0;
  }
  
  textarea.novaConsultaText{
    height: 30;
    text-align: center ;
  }
  
  div.sugestoes{
    width: 33%;
    height: 100%;
    margin: 0 0 0 0.5%;
    display: flex;
    flex-direction: column;
    background-color: #6A9F9D;
  }
  
  div.sugestao{
    border: 1px solid black;
    text-align: center;
    width: 40%;
    height: 20vh;
    margin: auto;
    position: relative;
  }
  
  div.acesso{
    width: 100%;
    height: 30%;
    position: absolute;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    text-align: center;
    transition: 0.3s;
  }
  
  div.acesso:hover{
    opacity: 100%;
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
  }
  
  
  h1#titulo{
    color: white;
    margin: auto;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 1000;
    font-style: normal;
    font-size: 45px;
  }
  
  h1#historico-h1{
    color: #273D3B;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 35px;
  }
  
  h1#nova-con-h1{
    color: #273D3B;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
  }
  
  div#btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }
  
  button#botao-consultar{
    background-color: #659F82;
    color: #273D3B;
    border: line;
    border-radius: 25px;
    border-color: #273D3B;
    padding: 10px 160px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 900;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s;
    -ms-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
  }
  
  #botao-consultar:hover{
    background-color: #336F51;
    color: white;
  }
  
  select#inputMateriaNova{
    background-color: #659F82;
    color:#273D3B;
    border: line;
    border-radius: 25px;
    border-color: #273D3B;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }
  
  label#label-materia-nova{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 30px;
    text-align: left;
  }
  
  div#sugestao{
    background-color: #273D3B;
    align-self: center;
  }
  
  textarea{
    background-color: rgb(235, 235, 235);
    border-style: inset;
    border-color: #273D3B;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  
  textarea#novaConsultaText{
    height: 200px;
    width: 490px;
    color: black;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 18px;
    outline: none;
  }
  
  textarea#novaConsultaText::placeholder{
    color: black;
    font-style: italic;
    font-size: 18px;
    text-align: left;
    font-weight: 300;
  }
  
  textarea.conversa-txt{
    height: 50%;
    width: 80%;
    margin: 0;
    color: black;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    outline: none;
    border: 1px solid black;
  }
  
  a#open-ai-link{
    text-decoration: none;
    font-weight: 1000;
  }
  
  ::-webkit-scrollbar{
    width: 8.5px;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #3e8a5b;
    border-radius: 500px;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background: #3a5842;
  }
  
  ::-webkit-scrollbar-track{
    background: transparent;
  }

  /* CORPO DO SITE */

html, body, div#root{
  width: 100%;
  height: 100%;
}

.App{
  height: 100%;
  width: 100%;
  display: flex;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;background-color: #BDF3D8;
}

div.app{
  height: 100%;
  display: flex;
  flex-direction: column;
}

header{
  width: 100%;
  background-color: #336F51;
  display: flex;
  flex-direction: row;
}

footer{
  background-color: #336F51;
  position: auto;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 45px;
  font-size: 13px;
  padding: 10px;
}

img#logo{
  height: 5rem;
  margin: 1% 0 1% 1%;
}

*{
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}